@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* End CSS Reset */

:root {
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

html {
	font-size: 15px;
}

body {
	font-family: Outfit, sans-serif;
	background-color: var(--light-grey);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.card {
	max-width: 20rem;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 20px;
	box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.card img {
	width: 21.125rem;
	border-radius: 10px;
}

.qr-heading {
	max-width: 18rem;
	font-weight: 700;
	font-size: 1.375rem;
	margin: 1rem 0 0.5rem 0;
}

.qr-caption {
	max-width: 16rem;
	letter-spacing: 0.188px;
	color: var(--grayish-blue);
	margin: 0.5rem 0 1rem 0;
}

footer {
	margin-top: 1rem;
	max-width: 19rem;
	text-align: center;
}
